<!DOCTYPE html>
<!-- index.php !-->
<html>

<head>
  <title>Inserting customerdetails into Mysql Database</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./cdn pagination/pagination.js"></script>
  <script src="./index.js"></script>
  <link rel="stylesheet" href="roombooking.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"  integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>
<body ng-app="myapp" ng-controller="usercontroller" ng-cloak >

  <div class="roombookingform1div" >
    <div class="roombookingform2div">
      <div id="createbookingdiv">
        <button id="createbooking" ng-click="createbooking()">CREATE BOOKING</button>
        <button id="viewbooking" ng-click="viewbooking()"   type="button">VIEW&nbsp;BOOKING</button>
        <div ng-show="chargemodeldiv">
        <button type="button" id="charges" data-toggle="modal" data-target="#roombookingchargesmodal"
          ng-click="roombookingcharges()">CHARGES</button></div>
      </div>
      <div ng-show="roombookingtablevisible">
        
        <select style="position:absolute;top:45px;left:92px;border-radius: 5px;height: 28px;" ng-model="FILTERDATE">
          <option value=""> &nbsp;&nbsp;&nbsp;&nbsp;------Filter record------</option>
          <option value="RANGE">&nbsp;&nbsp;Filter record by range</option>
         <option value="CURRENT">&nbsp;&nbsp;Filter record by currentdate&nbsp;&nbsp;</option> 
        </select>
        <p style="margin-top:-374px;margin-left:372px"><b>Total records {{totalrecordcount}} found.</b></p>

        <!-- ..............table...................... -->
        <div style="position: absolute;left: 286px;top: -13px;">

        <div  ng-show="FILTERDATE =='CURRENT'" >
          <button style="width:89px;padding:2px;position: absolute;top:58px;left: 83px;text-decoration: none;" class="btn btn-danger" ng-click="currentdaterecord()" >Current date</button>
        </div>
          <div ng-show="FILTERDATE =='RANGE'" style="position:absolute;top:60px;left:276px;">
           
            <label style="margin-left:-192px;">From&nbsp;</label><input  type="date" ng-change="fromdatechanged()"  ng-model="fromdate" class="datepicker" type="text" placeholder="Enter from date" >
            
            <label>&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;</label><input type="date" ng-click="todaterange()"  id="daterange" ng-init="fromdate=''" ng-disabled="fromdate==''"  ng-model="todate" class="datepicker" type="text" placeholder="Enter to date">
            <button  ng-init="todate=''" ng-disabled="todate==''" class="btn btn-primary" style="padding:2px;width:29px;margin-top:-4px" ng-click="filterrecordbydate()" > <i class="bi bi-search"></i></button>
          </div>
          <label style=" margin-left: 559px;margin-top:61px">Search:</label>
          <input  placeholder="&nbsp;&nbsp;searchdata" type="text" ng-model="search" style="width:199px;margin-top: 38px;"> <button  ng-init="search=''" ng-disabled="search==''"class="btn btn-primary"
            style="padding:2px;width:29px;margin-top:-4px" ng-click="filterrecord()" ><i
              class="bi bi-search"></i></button>
        
          <label style=" margin-left: 66px;">Export to csv:</label>
          <button ng-click="exportdata()" class="btn btn-warning" style="padding:2px;"
             ng-init="exportbutton=true" ng-disabled="exportbutton">EXPORT</button>
        </div>
        
        <table style="margin-left:365px;border: 2px solid #D9D9D9;margin-top: 20px;" class="table table-striped scrollleft">
          <th><input ng-click="selectall()" ng-checked="checkallalldata" type="checkbox"></th>
          <th ng-click='sortColumn("Name")' ng-class='sortClass("Name")'>Name</th>
          <th  ng-click='sortColumn("Email")' ng-class='sortClass("Email")'>Email</th>
          <th  ng-click='sortColumn("Phoneno")' ng-class='sortClass("Phoneno")'>PhoneNo</th>
          <th ng-click='sortColumn("roomtype")' ng-class='sortClass("roomtype")'>Roomtype</th>
          <th ng-click='sortColumn("roomsize")' ng-class='sortClass("roomsize")'>Roomsize</th>
          <th ng-click='sortColumn("checkindate")' ng-class='sortClass("checkindate")'>Checkindate</th>
          <th ng-click='sortColumn("checkintime")' ng-class='sortClass("checkintime")'>Checkintime</th>
          <th ng-click='sortColumn("checkoutdate")' ng-class='sortClass("checkoutdate")'>Checkoutdate</th>
          <th ng-click='sortColumn("checkouttime")' ng-class='sortClass("checkouttime")'>Checkouttime</th>
          <th ng-click='sortColumn("cateringtype")' ng-class='sortClass("cateringtype")'>Cateringtype</th>
          <th ng-click='sortColumn("laundrytype")' ng-class='sortClass("laundrytype")'>Laundrytype</th>
          <th>EDIT</th>
          <th>DELETE</th>
         
          <tr dir-paginate="user in users|itemsPerPage:5">

            <td> <input type="checkbox" ng-click="selectuser(user.Customerid)" ng-model="user.selecteduser"
                ng-checked="user.selecteduser" /></td>{{user.selecteduser}}

            <td>{{user.Name}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Phoneno}}</td>
            <td>{{user.roomtype}}</td>
            <td>{{user.roomsize}}</td>
            <td>{{DateFormat(user.checkindate) | date: 'MMM-dd-yyyy'}}</td>
            <td>{{user.checkintime}}</td>
            <td>{{DateFormat(user.checkoutdate) | date: 'MMM-dd-yyyy'}}</td>
            <td>{{user.checkouttime}}</td>
            <td>{{user.cateringtype | limitTo:16}} <span ng-if="user.cateringtype.length > 16" data-toggle="tooltip" title={{user.cateringtype}}>...</span></td>
            <td>{{user.laundrytype| limitTo:16}}<span ng-if="user.laundrytype.length > 16" data-toggle="tooltip" title={{user.laundrytype}}>...</span></td>
            <td><button class="btn btn-success" data-toggle="modal" data-target="#myModal"
                ng-click="selectMember(user);">EDIT</button>

            </td>
            <td><button data-toggle="modal" ng-click="deleteuserdata(user)" data-target="#deletedatamodel"  class="btn btn-danger" type="button">DELETE </button>
          
                
            </td>
                 <!-- ...................Delete data model.................... -->

                 <div class="container">
                  <div class="modal fade" id="deletedatamodel" role="dialog">
                    <div class="modal-dialog">
  
                      <!-- Modal content-->
                      <div id="savemodelbody" class="modal-content">
                        <div class="modal-body">
  
                          <p style="margin-top:30px; margin-left: 45px;"><b>Do you want to Delete?</b></p>
                          <br>
  
                          <button style="padding:9px;margin-left: 76px;border: none;" type="button"
                            data-dismiss="modal">NO</button>
                          <center><button style="margin-left: 48px; margin-top: -64px;" type="button"
                              class="btn btn-success " ng-click="deletedata()" data-dismiss="modal">YES</button></center>
                        </div>
  
                      </div>
                    </div>
                  </div>
               
          </tr>
          <tr>

          </tr>
        </table>
        <div style="margin-top:361px;margin-left:1188px;">
          <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
          </dir-pagination-controls>
        </div>
        
        <!-- ....................dialogbox...................... -->
      
      
      
          <dialog class="filterdialogbox" id="Filterdialogbox" >  
            <div class="dialogboxheader">
              Filter record dialogbox
          </div>                     
          <div class="dialogboxbody"> Enter some data to search record.  </div>
          <div class="dialogboxfooter">
          <button id="hidedialogbox">Close</button>  
        </div>
          </dialog>  
       
          
  
      <dialog class="filterdialogbox"  id="Filterdialogboxdaterange" >  
        <div class="dialogboxheader">
          Filter record dialogbox
      </div>                     
      <div class="dialogboxbody"> Selected date range invalid.  </div>
      <div class="dialogboxfooter">
      <button id="hidedialogboxdaterange">Close</button>  
    </div>
      </dialog>  
     
      


    
        <dialog class="filterdialogbox" id="recordnotfounddialogbox" >  
          <div class="dialogboxheader">
            Filter record dialogbox
        </div>                     
        <div class="dialogboxbody"> Record not found.  </div>
        <div class="dialogboxfooter">
        <button id="hiderecordnotfounddialogbox">Close</button>  
      </div>
        </dialog>  
    
        <!-- ............................................... -->
  </div>


   



      <div ng-init="form1visible=true" ng-show="form1visible">
        <h1 class="roombookingformheading">Room booking details</h1>
        <form name="form1" novalidate>
          <div class="row" id="namerow">
            <div class="col-sm-4">
              <label class="labelstyle">Name :</label><br>
              <input ng-click="usernametext()" ng-pattern="uname" name="username" id="id-{{id}}" ng-model="username"
                class="inputboxstyle " type="text" placeholder=" Enter your full name" ng-required="true">

              <!-- additionaltext -->
              <div ng-show="showusernamediv">
                <p id="usertextdiv" ng-hide="hideusernametext"> {{nametext}}</p>

              </div>
            
              <!-- after submitting displaying invalid field  -->
              <div ng-show="roombookingform1validation">
                <span class="validationtext" ng-show="form1.username.$invalid">Name
                  is required</span>
                </span>
              </div>
              <!-- ..................................... -->
              <br>
              <div ng-show="patternvalidation">
              <span style="margin-top:-14px" class="validationtext" ng-show="form1.username.$error.pattern">Enter valid name</span>
            </div>
            </div>
            <div class=" col-sm-4" id="namecolumn">
              <label class="labelstyle">Age :</label><br>
              <input ng-click="useragetext()" ng-pattern="userage" name="age" id="id-{{id}}" ng-model="age"
                class="inputboxstyle" type="text" placeholder=" Enter your age" ng-required="true">
              
              <!-- additionaltext -->
              <div ng-show="showuseragediv">
                <p id="usertextdiv" ng-hide="hideuseragetext"> {{agetext}}</p>

              </div>

              <!-- after submitting displaying invalid field -->
              <div ng-show="roombookingform1validation">
                <span  class="validationtext" ng-show="form1.age.$invalid">Age is required</span>
              </div>
              <!-- .....................................  -->
              <br>
              <div ng-show="patternvalidation">
              <span style="margin-top:-14px" class="validationtext" ng-show="form1.age.$error.pattern">Invalid
                age</span>
              </div>
            </div>
          </div>
          <div class="row" id="genderrow">
            <div class="col-sm-4">
              <label class="labelstyle">Gender :</label>
              <div>

                <select ng-click="usergendertext()" id="id-{{id}}" name="dropdownselect1" class="inputboxstyle"
                  ng-model="dropdownselect1" ng-required="true">
                  <option value="">Choose your gender</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="T">Transgender</option>

                </select>
                <!-- additionaltext -->
                <div ng-show="showusergenderdiv">
                  <span id="usertextdiv" ng-hide="hideusergendertext"> {{gendertext}}</span>

                </div>

                <!-- after submitting displaying invalid field  -->
                <div ng-show="roombookingform1validation">
                  <span class="validationtext"
                    ng-show="form1.dropdownselect1.$invalid">Gender is required</span>
                </div>
                <!-- .....................................  -->

              </div>
            </div>
            <div class="col-sm-4" id="gendercolumn">
              <label class="labelstyle">Purpose :</label>
              <input ng-click="userpurposetext()" ng-pattern="purposeof" id="id-{{id}}" name="purpose"
                ng-model="purpose" class="inputboxstyle" type="text" placeholder=" Enter the purpose of visit"
                ng-required="true">
            

              <!-- additionaltext -->
              <div ng-show="showuserpurposediv">
                <span id="usertextdiv" ng-hide="hideuserpurposetext"> {{purposetext}}</span>

              </div>
              <!-- after submitting displaying invalid field  -->
              <div ng-show="roombookingform1validation">
                <span class="validationtext" ng-show="form1.purpose.$invalid">purpose is required</span>
              </div>
              <!-- .....................................  -->
              <br>
              <div ng-show="patternvalidation">
              <span style="margin-top:-14px" class="validationtext" ng-show="form1.purpose.$error.pattern">Enter valid Purpose</span>
              </div>
            </div>
          </div>
          <div class="row" id="emailrow">
            <div class="col-sm-4">
              <label class="labelstyle">Email :</label>
              <input ng-click="useremailtext()" id="id-{{id}}" name="email" ng-model="email" class="inputboxstyle"
                type="text" ng-pattern="eml_add" placeholder=" Enter e-mail address" ng-required="true">

          

              <!-- additionaltext -->
              <div ng-show="showuseremaildiv">
                <span id="usertextdiv" ng-hide="hideuseremailtext"> {{emailtext}}</span>

              </div>

              <!-- after submitting displaying invalid field  -->
              <div ng-show="roombookingform1validation">
                <span class="validationtext"
                  ng-show="form1.email.$invalid">Email address is required</span>
              </div>
              <!-- .....................................  -->
              <br>
              <div ng-show="patternvalidation">
              <span style="margin-top:-14px" class="validationtext" ng-show=" form1.email.$error.pattern">Invalid Email address</span>
              </div>
            </div>
            <div class="col-sm-4" id="emailcolumn">
              <label class="labelstyle">Phone&nbsp;number&nbsp;:</label>
              <input ng-click="userphonenotext()" id="id-{{id}}" name="phonenumber" ng-model="phonenumber"
                class="inputboxstyle" maxlength="10" ng-pattern="ph_number" type="text"
                placeholder=" Enter phone number" ng-required="true">



              </span>
              <!-- additionaltext -->
              <div ng-show="showuserphonenodiv">
                <span id="usertextdiv" ng-hide="hideuserphonenotext"> {{phonenotext}}</span>

              </div>
              <!-- after submitting displaying invalid field -->
              <div ng-show="roombookingform1validation">
                <span class="validationtext"
                  ng-show="form1.phonenumber.$invalid">Phone number is required</span>
              </div>
              <!-- .....................................  -->
              <br>
              <div ng-show="patternvalidation">
              <span class="validationtext" style="margin-top:-14px"
              ng-show="form1.phonenumber.$error.pattern">Invalid Phone number</span>
              </div>
            </div>
          </div>
          <div class="row" id="idtyperow">
            <div class="col-sm-4">
              <label class="labelstyle">ID type :</label>
              <div>

                <select ng-click="useridtypetext()" id="id-{{id}}" name="dropdownselect2" class="inputboxstyle"
                  ng-model="dropdownselect2" ng-required="true">
                  <option value=""> Choose your govt ID type</option>
                  <option ng-repeat="x in list2" value="{{x}}">{{x}}</option>
                </select>

                <!-- additionaltext -->
                <div ng-show="showuseridtypediv">
                  <span id="usertextdiv" ng-hide="hideuseridtypetext"> {{idtypetext}}</span>

                </div>
                <!-- after submitting displaying invalid field  -->
                <div ng-show="roombookingform1validation">
                  <span class="validationtext"
                    ng-show="form1.dropdownselect2.$invalid">ID type must be choosen</span>
                </div>
                <!-- .....................................  -->
              </div>
            </div>
            <div class="col-sm-4" id="idtypecolumn">
              <label class="labelstyle">ID number :</label>
              <input ng-click="useridnotext()" id="id-{{id}}" ng-patten="IDNUMBER" name="IDnumber" ng-model="IDnumber"
                class="inputboxstyle" type="text" placeholder=" Enter your id card number" ng-required="true">

              <span class="validationtext"
                ng-show="form1.IDnumber.$error.pattern">ID number is required</span>
              <!-- additionaltext -->
              <div ng-show="showuseridnodiv">
                <span id="usertextdiv" ng-hide="hideuseridnotext"> {{idnotext}}</span>

              </div>
              <!-- after submitting displaying invalid field  -->
              <div ng-show="roombookingform1validation">
                <span class="validationtext"
                  ng-show="form1.IDnumber.$invalid">ID number is required</span>
              </div>
              <!-- .....................................  -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <button style="width: 116px;top:63px;left: 1105px;" class="button" type="button"
                ng-click="next()">NEXT</button>
            </div>

          </div>
        </form>

      </div>

      <!-- ..........end of roombooking form1.......... -->


      <!-- ...............roombookingform2............ -->
      <div ng-show="form2visible">



        <form name="roombooking" novalidate>
          <h1 class="roombookingformheading" style="top:35px;left: 600px;">Additional Requirements</h1>
          <div id="roomtype">
            <p class="labelstyle">Room type</p>
            <input class="labelstyle" style="width:22px" ng-model="roomtype" value="AC" type="radio">
            <p style="position: absolute;top: 31px;left: 29px;">AC</p>
            <input class="labelstyle" style="width:22px;margin-left: 44px;" ng-model="roomtype" value="NON-AC"
              type="radio">
            <p style="margin-top:-24px;margin-left: 97px;">NON-AC</p>

          </div>


          <div id="roomsize"><label class="labelstyle">Room Size :</label><br>


            <select id="id-{{id1}}" name="roomsize" class="inputboxstyle" ng-model="roomsize" ng-required="true">

              <option value=""> Choose your room size</option>
              <option ng-repeat="x in roomsizeoption" value="{{x}}">{{x}}</option>
            </select>
            <br>

            <!-- after submitting displaying invalid field  -->
            <div ng-show="roombookingform2validation">
              <span style="width: 287px;" class="validationtext"
                ng-show="roombooking.roomsize.$invalid">Room size must be chosen</span>
            </div>
            <!-- .....................................  -->
          </div>


          <div class="row" id="checkindaterow">
            <div class="col-sm-4">
              <label class="labelstyle">Check in-date :</label><br>
              <input type="text" id="checkindaterange" name="checkindate" ng-click="checkindatefunction()" ng-model="checkindate"  class="inputboxstyle id-{{id1}}" 
                placeholder=" Select check-in date"  onfocus="(this.type='date')" ng-required="true">

              <!-- after submitting displaying invalid field  -->
              <div ng-show="roombookingform2validation">
                <span style="width: 287px;" class="validationtext"
                  ng-show="roombooking.checkindate.$invalid">Room check-in date must be chosen</span>
              </div>
              <!-- .....................................  -->
            </div>

            <div class=" col-sm-4" id="checkindatecolumn">
              <label class="labelstyle">Choose room check-in time :</label><br>
              <input id="id-{{id1}}" type="text" ng-change="Timeformatcheckintime()" name="checkintime" ng-model="checkintime" class="inputboxstyle"  ng-disabled="currentcheckintime"
                placeholder="Choose room check-in time" onfocus="(this.type='time')" ng-required="true">

              <!-- after submitting displaying invalid field  -->
              <div ng-show="roombookingform2validation">
                <span style="width: 287px;" class="validationtext"
                  ng-show="roombooking.checkintime.$invalid">Room check-in time must be chosen</span>
              </div>
              <!-- .....................................  -->
            </div>


            <div class="row" id="Expectedcheckoutdaterow">
              <div class="col-sm-4">
                <label class="labelstyle">Expected check-out date :</label><br>
                <input  placeholder=" Select expected check-out date"  ng-click="checkoutdatefunction()" type="text" id="checkoutdaterange" name="checkoutdate" ng-model="checkoutdate" class=" inputboxstyle id-{{id1}}"
                  onfocus="(this.type='date')"  ng-required="true">

                <!-- after submitting displaying invalid field  -->
                <div ng-show="roombookingform2validation">
                  <span style="width: 287px;" class="validationtext"
                    ng-show="roombooking.checkoutdate.$invalid">Room check-out date must be chosen</span>
                </div>
                <!-- .....................................  -->
              </div>
              <div class=" col-sm-4" id="Expectedcheckoutdatecolumn">
                <label class="labelstyle">Expected check-out Time :</label><br>
                <input  type="text" name="checkouttime" ng-change="Timeformatcheckouttime()"  ng-model="checkouttime" class="inputboxstyle id-{{id1}}"
                  placeholder="Select expected check-out time" onfocus="(this.type='time')" ng-required="true">


                <!-- after submitting displaying invalid field  -->
                <div ng-show="roombookingform2validation">
                  <span style="width: 287px;" class="validationtext"
                    ng-show="roombooking.checkouttime.$invalid">Room check-out time must be chosen</span>
                </div>
                <!-- .....................................  -->
              </div>



              <p class="roombookingformheading " style="left: -19px;top: 93px;">Services needed</p>
              <div id="checkbox">
                <input type="checkbox" ng-checked="a" ng-model="catering">&nbsp;&nbsp;Catering 
                <input type="checkbox" ng-checked="b" ng-model="laundry" style="margin-left:80px">&nbsp;&nbsp;Laundry services
              </div>
              <div class="row" id="cateringtyperow">

                <div class="col-sm-4"  ng-init="catering=false" ng-show="catering==true" style="margin-top:-127px;margin-left:20px">
                  <label class="labelstyle">Catering type :</label><br>
                  <select id="id-{{id}}" name="cateringtype" class="inputboxstyle" ng-model="cateringtype">
                    <span class="validation" ng-show="roombooking.cateringtype.$invalid "></span>
                    <option value=""> Choose catering type</option>
                    <option ng-repeat="x in cateringoption" value="{{x}}">{{x}}</option>
                  </select>
                  <br>


                </div>
                <div ng-init="laundry=false" ng-show="laundry==true" style="margin-top:-125px;margin-left: 275px;" class=" col-sm-4"
                  id="cateringtypecolumn">
                  <label class="labelstyle">Laundry type :</label><br>


                  <select id="id-{{id}}" name="laundrytype" class="inputboxstyle" ng-model="laundrytype">
                    <span class="validation" ng-show="roombooking.laundrytype.$invalid "></span>
                    <option value=""> Choose laundry type</option>
                    <option ng-repeat="x in laundryoption" value="{{x}}">{{x}}</option>
                  </select>
                  <br>


                </div>
 
                <button data-toggle="modal" data-target="#savedatamodel" ng-init="hidesave=true" ng-show="hidesave"
                  type="button" class="btn" id="savedata">SAVE</button>
                <button data-toggle="modal" ng-show="update"  type="button" class="btn"
                  id="savedata"  ng-click="updateMember()">UPDATE</button>
                <button type="button" class="btn" id="backbtn" ng-click="backtoform1page()">BACK</button>

<!-- dialogbox -->

                  <dialog style="margin-left:119px;margin-top: -513px;" class="filterdialogbox" id="notupdatedialogbox" >  
                    <div class="dialogboxheader">
                      update dialogbox
                  </div>                     
                  <div class="dialogboxbody"> No changes made.  </div>
                  <div class="dialogboxfooter">
                  <button id="hidenotupdatedialogbox">Close</button>  
                </div>
                  </dialog>  


                  <dialog style="margin-left:119px;margin-top: -513px;" class="filterdialogbox" id="updatedialogbox" >  
                    <div class="dialogboxheader">
                      update dialogbox
                  </div>                     
                  <div class="dialogboxbody"> changes made.  </div>
                  <div class="dialogboxfooter">
                  <button id="hideupdatedialogbox">Close</button>  
                </div>
                  </dialog>  
                
               
                  <!-- ...................save data model.................... -->
                  <div class="container">
                    <div class="modal fade" id="savedatamodel" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div id="savemodelbody" class="modal-content">
                          <div class="modal-body">

                            <p style="margin-top:30px;margin-left: 40px;"><b>Do you want to save the data? </b></p>
                            <br>
                            <button style="padding:9px;margin-left: 63px;border: none;" type="button"
                              data-dismiss="modal">NO</button>
                            <center><button style="margin-left: 21px; margin-top: -64px;" type="button"
                                ng-click="insertData()" data-dismiss="modal" class="btn btn-success ">YES</button>
                            </center>

                          </div>

                        </div>
                      </div>

                    </div>


        </form>
      </div>
    </div>


    <!-- roombookingform modal -->


    <div class="container">
      <div class="modal fade" id="roombookingchargesmodal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">

            <h1 class="modal-title roombookingformheading" style="top:10px;left:28%">CHARGES</h1>

            <div class="modal-body" style="height:399px;width:346px">
              <div id="modalbody">
                <label class="labelstyle">Room Charges</label><input class="modalinputbox" name="roomcharges"
                  type="text" ng-model="roomcharges" disabled><br><br>
                <label class="labelstyle">Catering Charges</label><input class="modalinputbox" type="text"
                  ng-model="cateringcharges" disabled><br><br>
                <label class="labelstyle">Laundry Charges</label><input class="modalinputbox" type="text"
                  ng-model="laundrycharges" disabled><br><br>
                <label class="labelstyle">Tax Amount (18%)</label><input class="modalinputbox" type="text"
                  ng-model="taxamount" disabled><br><br>
                <label class="labelstyle">Total cost</label><input class="modalinputbox" type="text"
                  ng-model="totalcost" disabled><br><br>
              </div>
              <button id="form2button1" type="button" class="btn" style="top:323px;left:147px"
                ng-click="charges()">SUBMIT</button> <button id="form2button2" data-dismiss="modal" type="button"
                style="top:323px;left:315px;width:116px">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>
</html>
