
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Include Bootstrap Datepicker CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0  view view-label" for="name"> Name </label>
     <div>
        <input type="text" class="form-control error-text" ng-pattern="/^[a-zA-Z ]+$/" placeholder="" id="name" name="fullname" ng-model="$ctrl.values.fullname"  aria-describedby="nameInputField" error-text="Name is required" error-class ng-required="true">
        <span ng-show="ctrl.values.fullname.$error.pattern"> {{ alphabetsOnly }}</span>
                     
    </div>
    </div>
    <div class="form-group h-auto d-flex align-items-center ">
        <label  class="col-6 m-0  view view-label" for="emailId"> Email ID</label>
        <div>
        <input type="text" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/" ng-blur="isValidEmail()" name="email" class="form-control error-text " error-text="E-Mail address is required"  id="emailId" ng-model="$ctrl.values.email" placeholder="" aria-describedby="emailIdInputField"  error-class ng-required="true">
        <span ng-show="$ctrl.values.email.$error.pattern" >Please enter a valid email address.</span>
        </div>
    </div>
    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0  view view-label" for="phonenumber"> Phone Number </label>
       <div>
        <input type="text" minlength="8" ngMinlength="8"  ngMaxlength="10" maxlength="10" name="phonenumber" error-text="Phone number is required"  oninput="this.value = this.value.replace(/\D+/g, '')" ngPattern="[0-9]{10}" ng-model="$ctrl.values.phonenumber" class="form-control error-text " id="phonenumber"  placeholder=""  aria-describedby="phoneNumberInputField"   error-class ng-required="true">
        <span ng-show="$ctrl.values.phonenumber.$error.minlength || $ctrl.values.phonenumber.$error.maxlength">Phonenumber length must be from 8 to 10</span>
    </div>
    </div>
    <div class="form-group h-auto d-flex align-items-center ">
                            <label class="col-6 m-0  view view-label"  for="gender"> Gender </label>
                       
                            <select class="form-control   error-text  dropdown-icon"  name="gender" error-text="Gender must be choosen" id="gender" error-class-select ng-model="$ctrl.values.gender" aria-describedby="genderInputField" ng-required="true" >
                               
                            <option class="view view-label" value disabled selected hidden>Choose Gender</option>
                         
                                <option  class="view view-label"  value="{{ i }}" ng-repeat="i in $ctrl.options1"> {{ i }}
                            </select>
                        </div>
                        

    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0 view view-label"  for="age"> Age </label>
    
        <input type="number" class="form-control error-text "  error-text="Age is required" id="age" min="18" max="120" name="age" ng-model="$ctrl.values.age" placeholder="" aria-describedby="ageInputField"  error-class ng-required="true">
        <span ng-show="$ctrl.values.age.$error.min || $ctrl.values.age.$error.max">Age must be from 18 to 120 </span>
      
    </div>
    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0 view view-label" for="checkindate"> Check-In Date </label>
        <input class="form-control error-text"  ng-click="setCheckOutDate()" name="checkindate" id="checkindate" error-class error-text="Room check-in date must be choosen" ng-model="form.checkindate" type= 'text' placeholder="Choose Check-In Date" aria-describedby="checkInDateInputField" ng-required="true">
        <span ng-if="err">invalid date!</span>

    </div>
    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0 view view-label"  for="expectedcheckoutdate"> Check-Out Date </label>
       <div>
        <input class="form-control date-input" ng-click="setCheckInDate()" id="expectedcheckoutdate"  name="expectedcheckoutdate" ng-model="$ctrl.values.expectedcheckoutdate" onfocus="{this.type = 'date'}" onblur="this.type= 'text'" placeholder="" aria-describedby="expectedCheckOutDateInputField">
        <span ng-if="err">invalid date!</span>
        </div>
    </div>
    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0 view view-label" for="roomtype">Room type</label>
     
        <select class="form-control error-text  dropdown-icon"  name="roomtype" error-text="Room type must be chosen" id="roomtype" error-class-select ng-model="$ctrl.values.roomtype" aria-describedby="roomTypeInputField" ng-required="true" >
             <option value="{{ i }}" ng-repeat="i in $ctrl.options4"> {{ i }}
        </select>
    </div>
    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0 view view-label" for="roomsize">  Room Size</label>
      
        <select class="form-control error-text  dropdown-icon"  name="roomsize" error-text="Room type must be chosen" id="roomsize" error-class-select ng-model="$ctrl.values.roomSize" aria-describedby="roomSizeInputField" ng-required="true" >
     
        <option value="{{ i }}" ng-repeat="i in $ctrl.options3"> {{ i }}
    </select>    </div>
    <div class="form-group h-auto d-flex align-items-center ">
        <label class="col-6 m-0 view view-label"  for="idtype"> ID Type </label>
       
        <select  class="form-control error-text  dropdown-icon" name="idtype" id="idtype" error-text="Government ID type must be choosen" ng-model="$ctrl.values.idtype" aria-describedby="idTypeInputField" error-class-select ng-required="true" >
            <option value disabled selected hidden>Choose Government ID Type</option>
            <option value="{{ i }}" ng-repeat="i in $ctrl.options2">{{ i }}
        </select>
     </div>
     <div class="form-group h-auto d-flex align-items-center ">
     <label class="col-6 m-0 view view-label" for="idnumber"> ID Number</label>
     <div>
     <input type="text" class="form-control error-text " ng-pattern="/^[\w ]+$/"  id="idnumber"  name="idnumber" ng-model="$ctrl.values.idnumber" error-text="ID number is required" placeholder="" aria-describedby="idNumberInputField" error-class  ng-required="true" >
     <span ng-show="subForm1.idnumber.$error.pattern">You can only use alphabets, numbers and underscore in ID number</span>
     </div>
</div>
<div class="form-group h-auto d-flex align-items-center ">
<label class="col-6 m-0 view view-label" for="purpose"> Purpose</label>
<input type="text" maxlength="50" ng-change="remainingCharacters()" error-text="Purpose is required" class="form-control error-text " ng-blur="clear()"  id="purpose" name="purpose" ng-model="$ctrl.values.purpose" placeholder="" aria-describedby="purposeInputField" error-class  ng-required="true" >
<span ng-show="purposeText">{{validationStatus}}</span>
</div>
<button class="btn btn-format btn-format-1" ng-click="$ctrl.submitData()">Submit</button>
                  
