<div class="container-fluid">
    <h1 class="text-center">Login</h1>
    <div class="d-flex align-items-center" id="row-gap" >
        <div class="col-6">
            <img class="w-100 h-100"  src="app/style/images/login.svg" alt="login image"> 
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 " >
            <div class="d-flex flex-column form-gap" >
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn vertical-center active w-50">
                        <input type="radio" name="options" id="option1" value="Owner" autocomplete="off" checked> Owner
                    </label>
                    <label class="btn vertical-center w-50 ">
                        <input type="radio" name="options" id="option2"  value="Customer"  autocomplete="off"> Customer
                    </label>
                </div>
                <form autocomplete="off" class="d-flex flex-column form-gap" onsubmit="validateLoginForm()">
                    <div class="">
                        <label class="m-0" for="username"> Username </label>
                        <input type="text" minlength="4" class="form-control" id="username" placeholder="Enter Username" aria-describedby="usernameInputField">
                    </div>
                    <div class="form-group">
                        <label class="m-0"  for="password">Password </label>
                        <input type="password" minlength="6" class="form-control" id="password" name="password" placeholder="Enter Password" aria-describedby="passwordInputField">
                    </div>   
                    <div class="text-center">  
                        <button type="submit" id="submit" class="btn btn-format">SIGN IN</button>      
                    </div> 
                </form>   
            </div> 
        </div>
    </div>
    <div class="col-lg-5 offset-lg-5 text-center"> 
        Dont have an account? <a href="#!/register"> Sign Up </a>
    </div> 
</div>
<div class="modal text-center" id="authentication-success" tabindex="-1" role="dialog" aria-labelledby="authentication-success" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="app/style/images/close.svg" alt="close button image"></span>
                </button>
                <div class="d-flex flex-column " id="modal-gap">
                    <div>
                        <img  src="app/style/images/success.svg" alt="authentication successfull image">
                    </div>
                    <p id="message"></p>
                </div>
            </div>
        </div>
    </div>
</div>