<div class="container-fluid">
    <h1 class="text-center mt-200">Login</h1>
    <div class="row align-items-center">
        <div class="col-6">
        <img class="w-75 h-75 p-100" src="app/style/images/login.svg" alt="login image"> 
        </div>
        <div class="col-6">
            <div class="login-form">
            <div class="nav nav-pills flex">
                <a class="nav-item nav-link active" href="#">Owner</a>
                <a class="nav-item nav-link" href="#">Customer</a>
            </div>
            <form autocomplete="off" id="form">
                <div class="form-group">
                    <label for="username"> Username </label>
                    <input type="text" class="form-control"
                        id="username" 
                        aria-describedby="usernameInputField">
                </div>
                <div class="form-group">
                    <label for="password">Password </label>
                    <input type="password"
                        class="form-control" id="password"
                        name="password"
                        aria-describedby="passwordInputField">
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    SIGN IN</button>  
            </form>
            </div>
        </div>
    </div>
    <div class="text-center">
        Don't have an account? <a href=""> Sign Up
        </a>
    </div>
</div>