<div class="container-fluid">
    <div class="d-flex vertical-center" id="row-gap-1">
        <div class=" d-flex flex-column">
        <h1 class="text-center m-0" >Registration</h1>
        <div> 
            <img class="w-100 h-100" id="hide" src="app/style/images/register.svg" alt="register image"> 
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 " >
            <div class="d-flex flex-column form-gap-1" >   
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn vertical-center active w-50">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked  value="Owner" required> Owner
                    </label>
                    <label class="btn  vertical-center w-50 ">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="Customer" required> Customer
                    </label>
                </div>
                <form autocomplete="off"  class="d-flex flex-column form-gap-1" onsubmit="validateRegisterForm()">
                    <div class="form-group">
                        <label for="username"> Username </label>
                        <input type="text"  minlength="4"  class="form-control" id="username" placeholder="Enter Username" aria-describedby="usernameInputField" required>
                    </div>
                    <div class="form-group">
                        <label for="emailid"> Email ID</label>
                        <input type="email" class="form-control" id="emailid" placeholder="Enter E-mail" aria-describedby="emailIdInputField" required>
                    </div>
                    <div class="form-group">
                        <label for="phonenumber"> Phone Number</label>
                        <input type="text" maxlength="10" oninput="this.value = this.value.replace(/\D+/g, '')"  pattern="[0-9]{10}" class="form-control" id="phonenumber" placeholder="Enter Phone Number" aria-describedby="phoneNumberInputField" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password </label>
                        <input type="password" minlength="6" class="form-control" id="password" name="password" placeholder="Enter Password" aria-describedby="passwordInputField" required>
                    </div>   
                    <div class="form-group">
                        <label for="reenterpassword"> Re-Enter Password </label>
                        <input type="password" minlength="6"  class="form-control" id="reenterpassword" placeholder="Enter Re-Enter Password" aria-describedby="reEnterPasswordInputField" required>
                    </div>
                    <div class="text-center"> 
                        <button type="submit" class="btn btn-format" >Sign Up</button>      
                    </div> 
                </form>
            </div> 
        </div>
    </div>
    <div class="col-lg-5 offset-lg-1 text-center"> 
        Already Have an account? 
        <a  href="#/login"> Sign In </a>
    </div>
</div>
<div class="modal text-center" id="authentication-success" tabindex="-1" role="dialog" aria-labelledby="#authentication-success" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column " id="modal-gap">
                    <div>
                        <img  id="change-size" src="app/style/images/success.svg" alt="authentication successfull image">
                    </div>
                    <p id="message"></p>
                    <div>
                        <button type="button" class="btn btn-format" onclick="navigate()" class="close" data-dismiss="modal" >Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>