<div class="d-flex flex-column  gap-25">
    <div >
        <label class="m-0 col-6 view view-label"> Name</label>
        <span class="view view-input">{{ $ctrl.values.fullname }}</span>
  </div>
    <div>
        <label class="m-0 col-6 view view-label" for="emailId"> Email ID</label>
        <span class="view view-input">{{  $ctrl.values.email }}</span>
         </div>
    <div>
        <label class="m-0 col-6 view view-label" for="phonenumber"> Phone Number </label>
        <span class="view view-input"> {{  $ctrl.values.phonenumber }}</span>
    </div>
    <div >
        <label class="m-0 col-6 view view-label" for="gender"> Gender </label>
        <span class="view view-input">{{  $ctrl.values.gender }}</span>
    </div>
    <div>
        <label class="m-0 col-6 view view-label" for="age"> Age </label>
        <span class="view view-input">{{  $ctrl.values.age }}</span>
     </div>
    <div>
        <label class="m-0 col-6 view view-label" for="checkindate"> Check-In Date </label>
        <span class="view view-input">{{  $ctrl.values.checkindate }}</span>
    </div>
    <div>
        <label class="m-0 col-6 view view-label" > Check-Out Date </label>
        <span class="view view-input">{{  $ctrl.values.expectedcheckoutdate}}</span>
    </div>
    <div>
        <label class="m-0 col-6 view view-label">Room type</label>
        <span class="view view-input">{{   $ctrl.values.roomtype}}</span>
    </div>
    <div>
        <label class="m-0 col-6 view view-label">  Room Size</label>
        <span class="view view-input">{{  $ctrl.values.roomSize}}</span>
   </div>
    <div>
        <label class="m-0 col-6 view view-label"> ID Type </label>
        <span class="view view-input">{{ $ctrl.values.idtype}}</span>
     </div>
     <div >
        <label class="m-0 col-6 view view-label"> ID Number </label>
        <span class="view view-input">{{  $ctrl.values.idnumber }}</span>
     </div>
    <div>
        <label class="m-0 col-6 view view-label"> Purpose </label>
        <span class="view view-input">{{ $ctrl.values.purpose }}</span>
    </div>
    
   
</div>

 