<link rel="stylesheet" href="app/style/css/viewBooking.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<div class="card-body row">
    <form class="form-group w-100 gap-25 d-flex justify-content-around align-items-center">
        <button class="btn btn-format-2"><img src="app/style/images/filter.svg"></button>
        
            <input type="text" class="form-control" id="search" placeholder="Search..">
        
        
            <button class="btn btn-format ml-auto" onclick=" window.location.href ='#/roomBooking'"><img src="app/style/images/add.svg">Create Booking</button>
        </form>
    <table class="table" class="display" cellspacing="0" width="100%" id="myTable">
        
        

    </table>
 
</div>
