* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-home {
    padding: 20px;
}

.welcome-home .message {
    font-size: 2rem;
}

body {
    font-family: Quando;
}

div>h1 {
    font-size: 32px;
    line-height: 40px;
    color: #009A61;
    margin-top: 68px;
}


label, .form-control {
    font-size: 14px;
    line-height: 17.5px;
}

.form-control {
    border-radius: 10px;
    border: 3px solid #626262;
    box-shadow: 0px 2px 7px 0px #D5D5D5;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-group {
    border-radius: 8px;
    border: 1px solid #009A61;
    font-weight: bold;
}

.btn-group .btn.active {
    background-color: #009A61;
    color: #ffffff;
}

.btn-group .btn {
    width: 139px;
    height: 52px;
    font-weight: bold;
    font-family: Outfit;
}

.btn-format {
    width: 192px;
    height: 53px;
    border-radius: 20px;
    padding: 4px 16px 4px 16px;
    background-color: #009A61;
    border-color: #009A61;
    color: #ffffff;
    font-family: IBM Plex Sans;
}

a {
    color: #009A61;
}

.form-gap {
    gap: 39px;
}

.form-gap-1 {
    gap: 23px;
}

#row-gap{
    gap:100px;
    margin:40px 40px 0px 80px;
}

#row-gap-1{
    gap:80px;
    margin:90px 30px 0px 30px; 
}
#form1 {
    gap: 24px;
    padding: 36px 40px;
}

#authentication-success {
    font-family: Inter;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #54595E;
}


@media only screen and (max-width:1024px) {
    .col-lg-5{
        margin: 33px 0px;
    }
}

@media only screen and (max-width:768px) {
    div img{
        width: 80%;
        height: 80%;
    }      
    .col-lg-5{
        margin: 33px 0px;
    }
}


@media only screen and (max-width:480px) {
    div img, .col-6{
        display: none;
    }

    #row-gap-1, #row-gap{
        flex-direction: column;
        gap:39px;
        margin: 30px;
    }

    .form-gap-1, .form-gap{
        gap:33px;
    }

    
}