.gap-25{
    gap:20px;
}


thead{
font-family: Inter;
font-size: 11px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0.04em;
text-align: left;
color: rgba(70, 79, 96, 1);
}

tbody{
font-family: Inter;
font-size: 14px;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: rgba(70, 79, 96, 1);

}


.font-weight{
color: rgba(23, 28, 38, 1);
font-weight: bold;
letter-spacing: 0.02em;
}


.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    background: rgba(249, 250, 252, 1);
}

.btn-format-2{
    /* border-radius: 6px; */
    gap: 8px;
    background: rgba(255, 255, 255, 1);
    border:1px solid  rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(89, 96, 120, 0.1);
}



img{
    padding: 6px;
}

.form-control{
  
    border:3px solid rgba(98, 98, 98, 0.54);
    box-shadow: 0px 2px 7px 0px #D5D5D5;
    color:rgba(98, 98, 98, 0.54);
  
}

.form-group{
    height: 75px;
}

.btn-format{
    width: fit-content;
    height: 40px;

    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 30px;
padding: 6px 12px 6px 12px;
border-radius: 6px;



}

input{
    border-radius: 6px;
}

form{
    margin: 0px 20px;
}


.dataTables_wrapper .dataTables_length {
    margin-top: 10px;
}



span{
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding-left:5px;
    color: black;
     
}

.dataTables_wrapper .dataTables_length select {
    border: 0px solid #fff; 
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}