* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 600;
}

.verticalLine {
    border-left: 1px solid #ffffff;
    height: 30px;
}

.navbar {
    background-color: #1C294A;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    align-items: center;
    display: flex;
    height: 120px;
    column-gap: 10px;
}

a {
    text-decoration: none;
    color:white;
}

.nav-tabs{
    list-style: none;
    column-gap: 40px;
    display: flex;
    font-size: 20px;
    line-height: 24.38px;
    align-items: center;
}

strong {
    color: #E80451;
}

.home {
    height: 862px;
    background-image: linear-gradient(to top, #0A183D 100%, #0A183D 90%);
    display: flex;
    align-items: center;
    color:white;
    gap: 50px;
}

.home-frame-1 {
    width:100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.home-frame-2 {
    padding: 10px;
    width: 100%;
}
.home-frame-1 h1, .about-frame-1 h1, .pages h1, .news-frame-1 h1{
    font-size: 68px;
    line-height: 95px;
}
.home-frame-1 p, .about-frame-2-sub-frame-1 p, .news-frame-1-sub-frame p{
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.75px;
}

.home-frame-1-sub-frame-1{
    display: flex;
    column-gap: 30px;
}

button{
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 32px;
    padding: 20px;
    font-size: 18px;
    line-height: 21.94px;
   color: white;
}

.btn-1 {
    background: #E80451;
}

.btn-2 {
    background: #1C294A;
}

.about{
    padding: 100px 50px 100px 50px;
    gap: 10px;
}

.about-frame-1, .news-frame-1{
    display: flex;
    gap: 50px;
}

.about-frame-1 h1,.news-frame-1 h1{
    width: 80%;
}

.about-frame-2{
    width: 100%;
    display:flex;
    flex-direction: column;
    row-gap:20px;
}

.about-frame-2-sub-frame-1, .news-frame-1-sub-frame{
    padding:10px;
    gap:10px;
}


.pages, .news, .contact{
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap:50px;
    color: white;
}

.pages, .contact{
    background: #1C294A;
}

.news{
    color: #000000;
}

.pages-frame{
    width:100%;
    display: flex;
    gap:50px;
}

.pages-frame-sub-frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pages-frame-sub-frame-group{
    position: relative;
   
}

.circle{
    height: 72.73px;
    width: 72.73px;
    background-color: #E80451;
    border-radius: 50%;
    display: inline-block; 
    
}

.pages-frame-sub-frame img{
    width: 45.82px;
    height: 50.91px;
    top:21.82px;
    left:34.18px;
    position: absolute;
}

.pages-frame-sub-frame h1,.pages-frame-sub-frame p{
    line-height: 36px;
    letter-spacing: 0.75px;
}

.pages-frame-sub-frame h1{
    font-size: 20px;
}

.pages-frame-sub-frame p{
    font-size:18px;
}



@media only screen and (min-width: 1194px) {
    .home {
        padding: 0px 100px 0px 100px;
    }
}

@media only screen and (max-width: 1194px) {
    .navbar{
        padding:0px 50px 0px 50px;
    }

    li {
        display: none;
    }

    .home-frame-2 {
        display: none;
    }

    .navbar {
        background-color: #08192D;;
    }

    .home {
        padding: 0px 270px 0px 50px;
    }

    .pages{
        padding: 100px 50px 100px 50px;
    }
}

@media only screen and (max-width: 375px) {
    .navbar{
        padding:0px 20px 0px 20px;
    }

    .home{
        height:692px;
    }
    .home-frame-1-sub-frame-1, .about-frame-1{
      flex-direction: column;
      row-gap:10px;
    }

    .home-frame-1 h1, .about-frame-1 h1, .pages h1{
        font-size: 28px;
        line-height: 36px;
    }

    .home-frame-1 p, .about-frame-2 p, .pages-frame-sub-frame p{
        font-size: 14px;
        line-height: 30px;
    }

    .btn {
        font-size: 16px;

        line-height: 19.5px;
    }

    .home {
        padding: 0px 20px 0px 20px;
    }

    .pages{
      padding: 50px 20px 50px 20px;
    }

    .pages-frame{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.news-frame-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-frame-2 img{
    
}