* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-weight: 600;
    overflow-y: scroll;
    overflow-x:hidden;
}

#verticalLine {
    border-left: 1px solid #ffffff;
    height: 30px;
    display: block;
}

#navbar {
    background-color: #1C294A;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    align-items: center;
    display: flex;
    height: 120px;
    column-gap: 10px;
}

a {
    text-decoration: none;
    color:white;
}

#nav-tabs{
    list-style: none;
    column-gap: 40px;
    display: flex;
    font-size: 20px;
    line-height: 24.38px;
    align-items: center;
}

#color{
    color: #E80451;
}

#home {
    height: 862px;
    background-image: linear-gradient(to top, #0A183D 100%, #0A183D 90%);
    display: flex;
    align-items: center;
    color: #D9D9D9;
    gap: 150px;
}

.layout{
    width:100%;
    display: flex;
    padding:100px;
    gap:50px;
}

.layout-background-white{
    color: #000000;;
}

.layout-background-white p{
    color:#777777;
}

.layout-background-blue p{
    color: #D9D9D9;
}
.layout-background-blue{
  color:#ffffff;
  background: #1C294A;
}

.layout-flex-direction-column{
    flex-direction: column;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex{
    display: flex;
}


.gap-50{
    gap:50px;
}

.gap-150{
    gap:150px;
}

.gap-30{
    gap:30px;
}

.gap-20{
    gap:20px;
}

.gap-10{
    gap:10px;
}

.pad-10{
    
    padding:10px;
}

#ml-20{
   margin-right:100px;
}

#mr-20{
    margin-left:200px;
}

.gap-18{
    gap:18px;
}
.space-between{
    justify-content: space-between;
    /* align-items: center; */
  
}

.align-center{
    align-items: center;
}

.vertical-center{
    vertical-align: middle;
}
.w-100{
    width:100%;
}

.w-75{
    width:75%;
}

#footer-size{
  font-size:12px;
  line-height: 14px;
  letter-spacing: -2%;
  color:#777777;

}

.frame-10{
    padding: 100px 10px 100px 10px;
    gap: 10px;
} 

h1, h1 > p{
    font-size: 68px;
    line-height: 95px;
}

p{
  
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.75px;
}

.layout-background-white p{
    color: #777777;
}

button{
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 32px;
    padding: 20px;
    font-size: 18px;
    line-height: 21.94px;
    color: white;
}

.btn-color-1 {
    background: #E80451;
}

.btn-color-2 {
    background: #383B70;
}

h6{
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.75px;
}

.border-50{
    border-radius: 50px;
}

.border-50-percentage{
    border-radius: 50%;
}
#list{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

#list li{
    list-style-image: url("/Static_Website_Unit1/style/images/image13.svg");
   
}

li p{
    position: relative;
    right:-20px;
}

.footer{
    position: absolute;
}

section ul li{
  list-style: none;
  color:#777777
}

@media only screen and (min-width: 1024px) {
    #home {
        padding: 0px 100px 0px 100px;
    }
   
}

@media only screen and (max-width: 1024px) {
   
    
    
    #navbar{
        padding:0px 50px 0px 50px;
        background-color: #08192D;
    }

    #nav-tabs li, #hide{
        display: none;
    }

    #home {
        padding: 0px 270px 0px 50px;
    }

    .layout{
        padding: 100px 50px 100px 50px;
      
      
    }

    .frame-10{
        padding: 250px 0px 250px 0px;
    } 

    #list{
       
        gap: 19px;
    }

    .border{
        width: 200px;
       height: 189.51px;
      
    }

    .w-75{
        width: 75%;
    }

    .space-between{
        padding: 0px 50px 0 50px;
    }   

    .btn-color-2{
        background:linear-gradient(to top, #0A183D 100%, #0A183D 90%) ;
    }
}

@media only screen and (max-width: 480px) {
    img{
        width: 100%;
        height:100%;
    }

    
  
    #navbar{
        background-color: #1C294A;
        padding:0px 20px 0px 20px;
    }

    h1{
        font-size: 28px;
        line-height: 36px;
    }

    p{
        font-size: 14px;
        line-height: 30px;
    }

    .btn {
        font-size: 16px;
        line-height: 19.5px;
    }

    #home {
        padding: 0px 20px 0px 20px;
        height:692px;
    }

    .layout{
      padding: 50px 20px 50px 20px;
    
    }

    .pad-10{
        padding:10px 15px 10px 10px;
    }

    .horizontal-flex{
        flex-direction: column;
    }

    .space-between{
        gap: 20px;
    }
}



